@font-face {
  font-family: altivo_boldbold;
  src: url(../fonts/altivo-bold.woff2) format("woff2"),
    url(../fonts/ltivo-bold.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: altivolight;
  src: url(../fonts/altivo-light.woff2) format("woff2"),
    url(../fonts/altivo-light.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: altivomedium;
  src: url(../fonts/altivo-medium.woff2) format("woff2"),
    url(../fonts/altivo-medium.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: altivoregular;
  src: url(../fonts/altivo-regular.woff2) format("woff2"),
    url(../fonts/altivo-regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
.body {
  margin: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: altivoregular;
  font-variant: tabular-nums;
  line-height: 1.5;
  background-color: #fff;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum", "tnum";
}
html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
html a,
html p,
html li,
input,
textarea,
span,
div,
html,
body,
html a {
  margin-bottom: 0px;
  font-family: altivoregular;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.004) 1px 1px 1px;
}
.detail_list {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  width: 70%;
  list-style: none;
}
.detail_list li {
  padding: 6px 0 6px 0;
  margin: 10px 0 10px 0;
  color: #666;
  border: #dedada solid 1px;
  border-radius: 90px;
}

.main_wrapper {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  background: url(../img/bg1.jpg) center center / cover no-repeat;
}

.main_wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  right: inherit;
}

.contentMenuWrapper {
  width: 500px;
  height: 100%;
  overflow-y: auto;
  z-index: 10;
  position: relative;
}
.contentMenuWrapper .contentFood {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}
.title h2 {
  font-weight: 600;
  font-size: 26px;
}
.title h5 {
  font-weight: 400;
  font-size: 16px;
}

.nav-tabs::-webkit-scrollbar {
  height: 0px !important;
}
.nav-tabs {
  width: auto;
  overflow: auto !important;
  padding: 0px 0 10px 0;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  white-space: nowrap;
  display: block !important;
}
.nav-tabs li {
  display: inline-table;
  width: 32.5%;
  text-decoration: none;
}
.nav-tabs li img {
  width: 100%;
  border-radius: 4px;
}
.nav-tabs li a {
  text-decoration: none;
}
.nav-tabs li h3 {
  border-bottom: transparent solid 2px;
  padding-bottom: 8px;
}
.nav-tabs li:hover h3 {
  text-decoration: none;
  color: #28a745;
}
.nav-tabs li h3 {
  font-size: 16px;
  text-align: center;
  margin: 12px 0 0 0;
  white-space: break-spaces;
}
.categories {
  padding: 0 10px;
}
.categories h4 {
  font-size: 20px;
}
.categories_tab::-webkit-scrollbar {
  height: 0px !important;
}
.categories_tab {
  width: auto;
  overflow: auto !important;
  padding: 0px 0 10px 0;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
  white-space: nowrap;
  display: block !important;
}
.categories_tab li {
  display: inline-table;
  width: 32.5%;
  text-decoration: none;
}
.categories_tab li img {
  width: 100%;
  border-radius: 4px;
}
.categories_tab li a {
  text-decoration: none;
}
.categories_tab li h3 {
  border-bottom: transparent solid 2px;
  padding-bottom: 8px;
}
.categories_tab li:hover h3 {
  text-decoration: none;
  color: #666;
}
.categories_tab li h3 {
  font-size: 16px;
  text-align: center;
  margin: 12px 0 0 0;
  white-space: break-spaces;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar {
  height: 2px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.card {
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
  box-shadow: 0px 0px 10px #eaeaea;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.07);
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
}
.card .img_block {
  width: auto;
  float: left;
}
.card .img_block img {
  max-width: 100%;
  max-height: auto;
}
.card .foodDetail {
  float: left;
  margin-left: 12px;
  width: 60%;
}
.card .foodDetail h2 {
  font-size: 22px;
  margin-top: 20px;
}
.card .foodDetail a {
  color: #666;
}
.card .foodDetail h3 {
  font-size: 18px;
}
.message a {
  color: #666;
  font-size: 20px;
}
.languages {
  color: #666;
}
option {
  text-shadow: none;
}
footer p {
  font-size: 12px;
  text-align: center;
  color: #666;
  padding: 10px;
}
.brand img {
  width: 40%;
  margin-bottom: 10px;
}
.languages_select {
  border: 0 !important;
  outline: none !important;
}
.languages .btn {
  outline: none;
  padding: 0;
}
.messageModal button {
  border-radius: 4px !important;
  padding: 4px 13px;
  border: 0px;
  color: #fff;
}
.messageModal p {
  margin: 25px 0 8px 0;
  color: #666;
}
.messageModal .checked {
  color: #28a745;
}
.messageModal .form-content {
  border: #cac5c5 solid 1px !important;
  padding: 9px;
  width: 60%;
}
.modal-footer button {
  border-radius: 0px;
  padding: 12px;
}
button:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.messageModal .feedbackController {
  height: 500px;
  overflow: scroll;
}
.item_detail {
  position: relative;
  text-align: center;
}
.item_detail h2 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 7px;
  display: block;
}
.item_detail h3 {
  font-size: 18px;
}
.item_detail .back {
  position: absolute;
  background: #fff;
  left: 12px;
  top: 12px;
  line-height: 32px;
  border-radius: 3px;
  width: 34px;
  display: inline-block;
  height: 34px;
}
.modal-body .back {
  position: absolute;
  padding: 1px 13px;
  left: 12px;
  border: #ccc solid 1px;
  border-radius: 6px;
  top: 10px;
}
.modal-body {
  text-align: center;
}


.loader {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  background-color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-select {
  background-position: 85% !important;
}
.branch_select {
  position: relative;
}
.branch_select .location_search {
  position: absolute;
  right: 3px;
  bottom: 15%;
}
.login {
  margin-top: 30% !important;
}
.login .form-group {
  margin-bottom: 10%;
}
.branch_select {
  position: relative;
}
.login label {
  font-size: 22px;
  text-transform: uppercase;
}
.branch_select .location_search {
  position: absolute;
  right: 3px;
  bottom: 15%;
}
.login em {
  color: red;
}
.category-item {
  height: 65px !important;
  object-fit: cover !important;
  padding-left: 3px;
  padding-right: 3px;
}
.login .custom-select {
  height: auto;
  outline: none;
  border: 0 !important;
  border-radius: 0;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ccc;
  border-bottom: #000 solid 1px !important;
  padding: 10px 0 15px 0;
}
.login .form-control {
  outline: none;
  border: 0 !important;
  border-radius: 0;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ccc;
  border-bottom: #000 solid 1px !important;
  padding: 10px 0 15px 0;
}
.product-item {
  width: 70px !important;
  height: 70px !important;
  object-fit: cover !important;
}
.login .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ccc;
}
.login .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
}
.login .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #ccc;
}
.login .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
}
.login .custom-select:focus {
  box-shadow: none;
}
.login .form-control:focus {
  box-shadow: none;
}
.dropdown-menu {
  min-width: 3rem;
}
.login .submitbtn {
  margin-top: 10% !important;
  float: right;
  width: 100%;
}
.login .submitbtn button {
  background: transparent;
  border: 0;
  font-weight: 900 !important;
  font-family: verdana;
  font-size: 28px;
  float: right;
}
.dropdown-item {
  padding: 0rem 1rem;
}
a {
  color: #666;
}

.title h2 {
  color: #134b26;
}
.title h5 {
  color: #666;
}
.nav-tabs li:hover h3 {
  color: #134b26;
  border-bottom: #134b26 solid 2px;
}
.nav-tabs li a.active h3 {
  text-decoration: none;
  color: #134b26;
  border-bottom: #134b26 solid 2px;
}
.nav-tabs li h3 {
  color: #666;
}
.card .foodDetail h3 {
  color: #134b26;
}
.messageModal button {
  background: #134b26;
}
.item_detail h3 {
  color: #134b26;
}
.dropdown-toggle::after {
  content: none;
}
